# Python
__pycache__/
*.py[cod]

# VSCode
.vscode/

# Local secrets
.env

# Test cache
.pytest_cache/

# Scratch
.tmp/

# macOS
.DS_Store

# Folders
models/
tiles/
infra/
dist/
data/
paper/

# Logs
*.log
